@use "./../../styles/main"

.inbox-container
  height: 85vh
  margin-top: 5vh

.panel-header
  height: 10px

.left-panel
  flex: 1.25
  height: 100%
  background-color: main.$custom-white


.right-panel
  flex: 2
  height: 100%
  background-color: main.$custom-gray