@use "./../../styles/main"

.inbox-container
  min-width: 525px
  height: 85vh

.left-panel
  flex: .45
  height: 100%
  background-color: main.$custom-white


.right-panel
  flex: .55
  height: 100%
  background-color: main.$custom-gray